html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#menu {
  height: 75px;
  background-color: #EDEDED;
}

#menu ul {
  height: 100%;
}

#menu ul li {
  height: 100%;
}

#menu ul li button {
  background-color: #EDEDED;
  color: #251d1d;
  text-decoration: none;
  height: 100%;
  float: left;
  width: 100%;
  font-size: 150%;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  transition: 1s;
  border: none;
}
